<div class="home-page">

  <app-banner></app-banner>

  <div class="container page">
    <div class="row">

      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item" *ngFor="let tab of tabs">
              <a class="nav-link " [ngClass]="(tab === selectedTag) ? 'active' : 'inactive'"
                 (click)="selectTab(tab)">{{ tab }}</a>
            </li>
          </ul>
        </div>

        <div class="article-preview" *ngFor="let article of articles">
          <app-article-preview [articleData]="article"></app-article-preview>
        </div>
      </div>

      <div class="col-md-3">
        <app-tags (onTagSelected)="getList($event)"></app-tags>
      </div>

    </div>
    <div class="pagination">
      <a *ngFor="let item of [].constructor(manageArticlesService.articlesNumber/20); let i = index" (click)="getPageNumber(i + 1)">
        {{i + 1}}
      </a>
    </div>
  </div>

</div>
