<div class="home-page">

  <app-banner></app-banner>

  <div class="container page">
    <div class="row">


      <div class="col-md-9">
        <div class="feed-toggle">
          <ul class="nav nav-pills outline-active">
            <li class="nav-item">
              <a class="nav-link disabled" href="">Your Feed</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="">Global Feed</a>
            </li>
          </ul>
        </div>

        <div class="article-preview" *ngFor="let article of articles">
          <app-article-preview [articleData]="article"></app-article-preview>
        </div>
      </div>


      <div class="col-md-3">
        <app-tags></app-tags>
      </div>


    </div>
  </div>

</div>
