.article-preview {
  border-bottom: 1px solid black;
}

.article-preview:last-of-type {
  border-bottom: none;
}

.pagination {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
